// Home.less
// -----------------

#home {
    .table {
        td { padding: 3px }
    }
    .avatar_link { font-size: @textSize; }
    .title {
        em { font-size: @baseSize; }
    }
}

#newbie {
    .time { font-size: @baseSize }
}

#top {
    .table {
        .rank { padding: 0; width: 20px; .ta(right) }
        .user { padding-left: 5px }
    }
}

#news {
    .table {
        width: 100%;
        td {
            padding: 0 8px 0 0;
            .text(@baseColor, @baseSize, @subtitleHeight);
        }
    }
    .title {
        margin: 0 5px;
        em { font-size: @baseSize; }
    }
    .record {
        margin: 0 5px;
        .text(@textColor, @baseSize);
    }
    .increase {
        .inline; .size(16px, 16px);
        margin-right: 5px;
        .background('common/increase.png');
        vertical-align: middle;
    }
    .original {
        .text(@subtitleColor, @textSize);
    }
    .score {
        .text(@noticeColor, @textSize); .text-over(@hoverColor);
        font-weight: bold;
    }
    #news_loader { margin-top: 15px }
}