// Name.less
// -------------------

.name_link {
    color: @lighter; font-size: @textSize;
}
.avatar_link {
    color:  @lighter; font-size: @textSize;
    margin-right: 0
}
.user_title {
    .text(@golden, @textSize);
}

#page {
    a.name_link, a.avatar_link {
        .text-over(@hoverColor);
    }
}